#
# Example slurmdbd.conf file.
#
# See the slurmdbd.conf man page for more information.
#
# Archive info
#ArchiveJobs=yes
ArchiveDir="/tmp"
#ArchiveSteps=yes
#ArchiveScript=
#JobPurge=12
#StepPurge=1

ArchiveEvents=yes
ArchiveJobs=yes
ArchiveResvs=yes
ArchiveSteps=no
#ArchiveTXN=no
#ArchiveUsage=no
# Authentication info
AuthType=auth/munge
#AuthInfo=/var/run/munge/munge.socket.2

#Database info
# slurmDBD info
DbdAddr=127.0.0.1
DbdHost=localhost

#MessageTimeout=300
DebugLevel=7

#Define Purge events
#PurgeEventAfter=1month
#PurgeJobAfter=12month
#PurgeResvAfter=1month
#PurgeStepAfter=1month
#PurgeSuspendedAfter=1month
#PurgeTXNAfter=12month
#PurgeUsageAfter=24month

#DefaultQOS=normal,standby
LogFile=/var/log/slurm-llnl/slurmdbd.log
PidFile=/var/run/slurm-llnl/slurmdbd.pid
#PluginDir=/usr/lib/slurm
#PrivateData=accounts,users,usage,jobs
#TrackWCKey=yes

# Database info
StorageType=accounting_storage/mysql
StorageHost=localhost
SlurmUser=slurm
StoragePass=slurm_user
StorageUser=slurm
StorageLoc=slurm_db
